.App {
  text-align: center;
  background-color: beige;

  height: 200px;
}

.cat-btn  {
  border-color: lightslategray;
  margin: 0 5px 0 5px;
  background-color: lightslategray
}

.App h1{
  margin-bottom: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}